name: "schedule check and build"
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
  schedule:
    - cron: "0 6 3,18 * *"
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set ENV variable
      run: echo "SAVED_RELEASE_VERSION=$(cat dependencies/noalbs-version)" >> $GITHUB_ENV  
    - name: Get the remote version
      id: remote_version
      uses: cityoflosangeles/fetch-latest-github-release@v3
      with:
        repo_path: "715209/nginx-obs-automatic-low-bitrate-switching"
        github_token: ${{ github.token }}
    - name: Echo the saved version
      run: echo ${{ env.SAVED_RELEASE_VERSION }}
    - name: The remote Version
      run: echo ${{ steps.remote_version.outputs.tag_name }}
    - name: Commit if not the same
      if: ${{ steps.remote_version.outputs.tag_name != env.SAVED_RELEASE_VERSION }}
      run: echo "${{ steps.remote_version.outputs.tag_name }}" > dependencies/noalbs-version
# Build the new way (Docker) 
    - name: Set up QEMU
      if: ${{ steps.remote_version.outputs.tag_name != env.SAVED_RELEASE_VERSION || github.event_name == 'pull_request' }}
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      if: ${{ steps.remote_version.outputs.tag_name != env.SAVED_RELEASE_VERSION || github.event_name == 'pull_request' }}
      uses: docker/setup-buildx-action@v3
    - name: Login to DockerHub
      if: ${{ steps.remote_version.outputs.tag_name != env.SAVED_RELEASE_VERSION || github.event_name == 'pull_request' }}
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build on pull request
      if: ${{ github.event_name == 'pull_request' }}
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: dersni/docker-noalbs:${{steps.remote_version.outputs.tag_name}}-${{ github.run_number }}, dersni/docker-noalbs:latest
    - name: Build and push
      if: ${{ steps.remote_version.outputs.tag_name != env.SAVED_RELEASE_VERSION }}
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: dersni/docker-noalbs:${{steps.remote_version.outputs.tag_name}}-${{ github.run_number }}, dersni/docker-noalbs:latest
# commit
    - name: Commit changes an push it to remote
      if: ${{ steps.remote_version.outputs.tag_name != env.SAVED_RELEASE_VERSION }}
      uses: actions-x/commit@v6
      with:
        email: 41898282+github-actions[bot]@users.noreply.github.com
        name: GitHub Actions
        branch: main
        files: dependencies/noalbs-version
        repository: https://github.com/DjSni/docker-NOALBS
        token: ${{ secrets.GITHUB_TOKEN }}
        force: false
